{% extends "base.html" %}
{% block title %}Ingresar{% endblock %}
{% block head %}Ingresar{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>El ususario o la contraseña no son correctos. Porfavor, intenta de nuevo.</p>
    {% endif %}

    <form class="form" method="post" action="." >{% csrf_token %}
        <input type="text" placeholder="Usuario" name="username">
        <input type="password" placeholder="Contraseña" name="password">
        <button type="submit"  value="Login" id="login-button">Ingresar</button>
        <button type="button" onclick="window.location.href='/register/' ">Registrarse</button>
        <input type="hidden" name="next" value="/home" />
    </form>

{% endblock %}
