 <!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lumencap</title>
        {% load staticfiles %}
        
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />    
            <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>    
            <!--Import jQuery before materialize.js-->
            {% block footer %}
                <script type="text/javascript" src="{% static 'javascript/jquery-3.1.0.js' %}"></script>
                <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
                <script type="text/javascript" src="{% static 'javascript/init.js' %}"></script>
            {% endblock %}
            
    </head>

    <body style = "overflow-y: hidden;
	 overflow-x: auto;">
      
    <div class = "row">    
        <div   class = "col l8 black">

  
            <a   href ="/myapp/{{mode}}/view/{{previmg.fotografo.username}}/{{previmg.id}}"><img class="arrow"  src="{% static 'icons/left-arrow.png' %}"></a>
            <img class = "image" src="{{ image.docfile.url }}">
            <a href="/myapp/{{mode}}/view/{{nextimg.fotografo.username}}/{{nextimg.id}}"><img class = "arrow"  src="{% static 'icons/right-arrow.png' %}"></a>

                </div>
            
                 <div class="col l4 " style="overflow : auto">
                     <div class = "align-right" >
                    <a  href="{{close}}">
                        <img height ="50px" src="{% static 'icons/x.png' %}">
                    </a>    
                    </div>     
                    <div class="card-panel deep-purple darken-1">
                      <span class="white-text">                                <p>Modelo de camara : {{image.modelo}} <br>
                                Apertura de diafragma : {{image.apertura}} <br>
                                Tiempo de exposicion : {{image.tiempexp}} <br>   
                                Distancia focal : {{image.dfocal}}mm <br>  
                                ISO : {{image.iso}} <br>
                                Editado con : {{image.edsoft}}<br> 
                      </span>
                  </div>

        
        </div>




        </div>
    </body>

</html>