<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lumencap</title>
        {% load staticfiles %}
        
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />    
            <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>    
            <!--Import jQuery before materialize.js-->
            {% block footer %}
                <script type="text/javascript" src="{% static 'javascript/jquery-3.1.0.js' %}"></script>
                <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
                <script type="text/javascript" src="{% static 'javascript/init.js' %}"></script>
            {% endblock %}
            
    </head>

    <body>
        <!-- List of uploaded documents -->
    
        {% if documents %}
        <div class = "row">

            {% for document in documents %}
            
                <div class="col s4"  >

                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div>
                                <a href="view/{{document.id}}">
                                    <img src= "{{ document.docfile.url }}">
                                </a>    
                            </div>    
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4" >{{user}}<i class="material-icons right">more</i></span>
                        </div>    
                        <div class="card-reveal">

                            <span class="card-title grey-text text-darken-4">{{ request.user.username}}<i class="material-icons right">close</i></span>
                            <form action="delete/{{document.id}}" method="get" enctype="multipart/form-data">
                                {% csrf_token %}

                                <p><button class="waves-effect waves-light btn" type="submit" value="Eliminar">Eliminar</button></p>


                            </form>
                        </div>
                    </div>
           </div>


                {% endfor %}
        </div>

            {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Subir"/></p>
        </form>

    </body>

</html>
