.row{
	position: absolute;
	top:200px;
	
	
}

.aligner{
	position: absolute;
	right: 600px;
	top: 20px;
}


.header {
  padding:40px 40px 40px 300px;
  background: #dbded1 url(dibujo.svg.png) no-repeat 20px 20px fixed;
}


.content {
  padding:10px 40px 10px 300px;
  background: transparent url(dibujo.svg.png) no-repeat 20px 20px fixed;
}