<html>
    <head>
        <title>Comments</title>
    </head>
    <body>
        <form method="post" action="/save/">
        {% csrf_token %}
            Title<input type="text" size="20" maxlength="20" name="title" required> <br />
            <textarea name="text" rows="4" cols="40" required></textarea><br/>
            <input type="submit" value="Comment!"/>
        </form>
        {% for comment in comment_list %}
            <h2>{{comment.title}}</h2>
            <p>Date: {{comment.date}}</p>
            <p>{{comment.text}}</p>
        {% endfor %}
    </body>
</html>